*.csv filter=lfs diff=lfs merge=lfs -text
data/home_sensor.csv filter=lfs diff=lfs merge=lfs -text
data/room.csv filter=lfs diff=lfs merge=lfs -text
data/room2.csv filter=lfs diff=lfs merge=lfs -text
data/shuttle.csv filter=lfs diff=lfs merge=lfs -text
data/taxi_data.csv filter=lfs diff=lfs merge=lfs -text
data/us_energy_1p0_metrics.csv filter=lfs diff=lfs merge=lfs -text
