datatest.txt filter=lfs diff=lfs merge=lfs -text
datatest2.txt filter=lfs diff=lfs merge=lfs -text
datatraining.txt filter=lfs diff=lfs merge=lfs -text
household_power_consumption.txt filter=lfs diff=lfs merge=lfs -text
mass.csv filter=lfs diff=lfs merge=lfs -text
mnist_train.csv filter=lfs diff=lfs merge=lfs -text
shuttle.csv filter=lfs diff=lfs merge=lfs -text
